body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

header {
    background-color: blueviolet;
    color: white;
    padding: 20px;
    text-align: center;
}

.main-section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: blueviolet;
    color: white;
    text-align: center;
    padding: 10px;
}

.header{
    text-align: center;
    font-size: x-large;
    font-weight: bolder;
}